@model Category
<h1 class="alert alert-success text-center">Edit @Model.Name Category</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Category" asp-action="EditCurrent" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Edit</button>
    </form>
</div>

<a asp-controller="Category" asp-action="GetIndexView">Back to List</a>

